<table width="100%" cellspacing="0" cellpadding="0"
  style="background-color: #f8f8f8; padding: 20px; text-align: center;">
  <tr>
    <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
      <div style="font-size:14px;font-weight:400;line-height:24px;text-align:center;color:#333333;">
        Você tem alguma pergunta ou precisa de ajuda? Envie um email para nos <a href="#"
          style="color: #ff781d; text-decoration: none;"> cpd@cisru.saude.mg.gov.br </a></div>
    </td>
  </tr>
  <tr>
    <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
      <div style="font-size:14px;font-weight:400;line-height:24px;text-align:center;color:#ff781d;">
        <a class="footer-link" href="#" style="text-decoration: none; color: #000;">Site</a>
        &nbsp; | &nbsp; <a class="footer-link" href="#" style="text-decoration: none; color: #000;">Instagram</a>
        &nbsp; | &nbsp;<a class="footer-link" href="#" style="text-decoration: none; color: #000;">LGPD</a> &nbsp; |
        &nbsp;<a class="footer-link" href="#" style="text-decoration: none; color: #000;">Entrar</a>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: #777;font-size:14px;">Br 265, nº 1501, Barbacena - Minas Gerais - Brasil</p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: #777;font-size:14px;">CEP: 36202-630 - Telefone: (32) 3339-5550.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: #777;">&copy; 2025 CISRU CENTRO SUL - Todos os direitos reservados.</p>
    </td>
  </tr>
</table>